<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="admin/layout.html :: head"></head>


<body>

<div th:replace="admin/layout.html :: preloader"></div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

    <div th:replace="admin/layout.html :: header"></div>
    <div th:replace="admin/layout.html :: sidebar"></div>

    <!-- Page wrapper  -->

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card">

                        <div class="card-body">

                            <h4 class="card-title text-center"> Select The time period</h4>
                            <script type="text/javascript">
                                $(function () {
                                    $('#startDate').datepicker({
                                        changeMonth: true,
                                        changeYear: true,
                                        showButtonPanel: true,
                                        dateFormat: 'MM yy',
                                        onClose: function (dateText, inst) {
                                            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                                        },
                                        format: "mm-yyyy",
                                        viewMode: "months",
                                        minViewMode: "months"
                                    });
                                });
                            </script>
                            <style>
                                .ui-datepicker-calendar {
                                    display: none;
                                }
                            </style>

                            <div class="feed-widget">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <input name="startDate" id="startDate" class="date-picker center"
                                           placeholder="select the month here"/></div>
                                <br/>
                            </div>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <button type="button" class="btn btn-primary " onclick="searchMonth()">Search</button>
                            </div>
                        </div>
                        <style>
                            .btn-primary {
                                background-color: #0069d9;
                                border-color: #0069d9;
                            }
                        </style>
                    </div>

                </div>
            </div>
            <!-- <div class="col-md-3"></div> -->

            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Results</h4>
                        <div class="feed-widget">
                            <!--<div class="col-md-1"></div>-->
                            <div class="col-md-12 table-wrapper-scroll-y">
                                <table id="filesTable">
                                    <thead>
                                    <tr>
                                        <th>Created Time</th>
                                        <th>Input File Type</th>
                                        <th> Output File Type</th>
                                        <th>Input File Name</th>
                                        <!--<th>Output File Name</th>-->
                                        <!--<th>Input File Path</th>-->
                                        <!--<th>Output File Path</th>-->
                                        <th>Files</th>
                                        <!--<th>Converted</th>-->

                                        <!--<th> User Name</th>-->
                                        <!--<th> Profile Link</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>


        <footer th:replace="admin/layout.html :: footer"></footer>
    </div>
</div>

<script src="/admin/dist/js/bootstrap-datepicker.js"></script>
    <th:block th:include="admin/layout.html :: auth"></th:block>

    <script th:inline="javascript">


        /*<![CDATA[*/

        var files = /*[[${files}]]*/ file;
        var dataTable;



        function downloadConverted(data) {
            console.log("ID : " + data);
            var fileId = data.split("-")[0];
            var url = "/admin/files/download/converted?conversionId=";
            download(url+fileId);
        }
        function downloadOriginal(data) {
            console.log("ID : " + data);
            var fileId = data.split("-")[0];
            console.log(fileId);
            var url = "/admin/files/download/original?conversionId=";
            download(url+fileId);
        }

        function download(url) {
            // console.log(fileId);
            // var fileId = data.split("-")[0];
            var req = new XMLHttpRequest();
            // var urlToSend = url+fileId
            console.log("url : " + url);

            req.open("GET", url, true);
            req.responseType = "blob";
            req.onload = function () {
                var blob = req.response;
                var fileName;

                var disposition = req.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) {
                        fileName = matches[1].replace(/['"]/g, '');
                    }
                    console.log("filename : "+ fileName)
                }
                if (navigator.msSaveBlob) { // IE 10+
                    navigator.msSaveBlob(blob, fileName);
                }
                else {
                    var link = document.createElement("a");
                    if (link.download !== undefined) { // feature detection
                        // Browsers that support HTML5 download attribute
                        var url = URL.createObjectURL(blob);
                        link.setAttribute("href", url);
                        link.setAttribute("download", fileName);
                        link.style.visibility = 'hidden';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
            };

            req.send()
        }
        var thisDocument = this;

        function showTable() {
            console.log(files);

            dataTable = $('#filesTable').DataTable(
                {
                    data: files,
                    columns: [
                        // {data : "conversionId"},
                        {data: "createdTime"},
                        {data: "inputFileType"},
                        {data: "outputFileType"},
                        {data: "inputFileName"},
                        // {data: "outputFileName"},
                        // {data: "inputFilePath"},
                        // {data: "outputFilePath"},
                        {
                            data: "conversionId" , render : function ( data, type, row, meta ) {
                                return type === 'display'  ?
                                    '<div class=row>'
                                        +'<div class="col">'
                                            +'<button class="waves-button-input blue-gradient" onclick="thisDocument.downloadOriginal(this.id)" id="'+ data +"-original"+'" > Download Original<i class="fa fa-download"></i></button>'
                                        +'</div>'
                                        +'<div class="col">'
                                            +'<button class="waves-button-input green" onclick="thisDocument.downloadConverted(this.id)" id="'+ data +"-converted"+'" > Download Converted<i class="fa fa-check"></i></button>'
                                        +'</div> '
                                    +'</div>'
                                    :
                                    data;
                            }
                        },

                    ],
                }
            );

        }

        $(document).ready(
            function () {
                showTable();

            }
        );

        /*]]>*/


        function searchMonth() {

            console.log($('.date-picker').val());
            var formData = new FormData();

            var monthYear = $('.date-picker').val().split("-");
            var monthDate = new Date(monthYear[1],monthYear[0]-1,1).toISOString();
            console.log(monthDate);
            formData.append("month", monthDate);
            $("#filesTable").dataTable().fnDestroy();

            $.ajax({
                type: "POST",
                url: "/admin/files/history/month",
                success: function (data) {

                    files = data;
                    showTable();
                },
                error: function (error) {
                    // handle error
                    console.log(error);

                },
                async: true,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 60000
            });
        }
    </script>
</body>
</html>
