<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="user/layout.html :: head"></head>

<body onload="loaderFunction()">

<div th:replace="user/layout.html :: loader"></div>
// only if you need the loader
<div class="animate-bottom container-fluid" style="text-align: center">
    <!-- chatbot -->
    <div th:replace="user/layout.html :: navbar"></div>
    <div th:replace="user/layout.html :: heading"></div>

    <div class="row justify-content-center">
        <div th:replace="user/layout.html :: leftBar"></div>

        <!--Content Goes Here-->
        <div class="col-md-8"></div>
        <div th:replace="user/layout.html :: rightBar"></div>
    </div>


    <div class="row">&nbsp</div>
    <div th:replace="user/layout.html :: footer"></div>
</div>

</div>
<th:block th:replace="user/layout.html :: scripts"/>


</body>
</html>