<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="user/layout.html :: head"></head>
<body onload="loaderFunction()">

<div th:replace="user/layout.html :: loader"></div>
<div class="animate-bottom container-fluid" id="content" style="display: none">
    <!-- chatbot -->
    <div th:replace="user/layout.html :: navbar"></div>
    <div th:replace="user/layout.html :: heading"></div>

    <div class="row justify-content-center">
        <div th:replace="user/layout.html :: leftBar"></div>

        <!--Content Goes Here-->
        <div class="col-md-8">
            <div class="row">
                <p style="font-size:15px;font-family: uom; align-content: center ">Unicode pleco is a universal
                    Sinhala/Tamil non unicode to unicode documents converter, initiated by <a
                            href="https://www.mrt.ac.lk/web/nlp" target="_blank">NLP Center</a>
                    of <a href="https://www.mrt.ac.lk">University of Moratuwa</a> and developed by <a
                            href="https://www.ciperlabs.com">CiperLabs</a>. The name "Pleco" was derived
                    from "plecostomus", a fish who cleans dirt/algae in the water. Pleco cleans dirty non unicode text
                    in
                    your
                    documents.</p>
            </div>
            <div class="row">
                <div class="col-md-12 middleContainer" id="middleContainer">
                    <form action="/upload" class="dropzone needsclick dz-clickable heartbeat" id="docx_upload">

                        <div class="dz-message needsclick justify-content-center"
                             style="font-size: xx-large; margin-top: auto; margin-bottom: auto">
                            Drop files here or <span class="badge badge-success"> <i
                                class="fas fa-plus"></i> Click &nbsp;</span> &nbsp; to add files.<br>
                            <div class="row justify-content-center">
                                <div class="col-md-2">
                                    <img src="style/img/word.png" style="width :120px; height : 120px"
                                         alt="You can Convert Unicode Docx files using Pleco">
                                </div>
                                <div class="col-md-2">
                                    <img src="style/img/excel.png" style="width :110px; height : 110px"
                                         alt="Pleco Supports excel Unicode Conversion">
                                </div>
                                <div class="col-md-2">
                                    <img src="style/img/pdf.png" style="width :110px; height : 110px"
                                         alt="Pleco Supports PDF to Unicode docx Conversion">
                                </div>
                            </div>
                            <div class="row justify-content-center" style="font-size: x-small">
                                <span class="badge badge-info"> Office Open Word XML Format (.Docx)</span>
                                <span> &nbsp;</span>
                                <span class="badge badge-info"> Office Open Spreadsheet XML Format (.xlsx)</span>
                                <span> &nbsp;</span>
                                <span class="badge badge-info"> PDF files</span>
                            </div>
                        </div>

                    </form>
                    <!--<div class="col-md-2 offset-5">-->
                    <!--<button type="submit" id="button" onclick="fileUpload()" class="btn"><i-->
                    <!--class="fas fa-cloud-upload-alt"></i>Upload-->
                    <!--</button>-->
                    <!--</div>-->
                    <style>
                        .btn {
                            background-color: #b71c1c;
                        }
                    </style>

                </div>
                <div class="col-md-12 middleContainerProgress" id="middleContainerProgress">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="45"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 45%" id="progressinner">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px"></div>
                    <div class="alert alert-success">
                        <strong>Uploading!</strong> Successfully uploaded!
                    </div>

                    <div class="alert alert-info">
                        <strong>Extracting Text &nbsp;<i
                                class="fas fa-spinner fa-2x mb-3 animated rotateIn infinite"></i>
                        </strong>
                    </div>
                    <div class="alert alert-info">
                        <strong>Converting to Unicode! &nbsp;<i
                                class="fas fa-spinner fa-2x mb-3 animated rotateIn infinite"></i></strong>
                    </div>
                    <div class="alert alert-info">
                        <strong>Refining the conversion &nbsp;<i
                                class="fas fa-spinner fa-2x mb-3 animated rotateIn infinite"></i></strong>
                    </div>
                    <div class="alert alert-info">
                        <strong>Setting up the styles &nbsp;<i
                                class="fas fa-spinner fa-2x mb-3 animated rotateIn infinite"></i></strong>
                    </div>

                </div>
                <div class="col-md-12 middleContainerErrorr" id="middleContainerErrorr">
                    <div class="row justify-content-center">
                        <div class="col-md-6" align="center">
                            <span class="badge badge-danger"> Error</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img src="style/img/Oops-404-error.png" class="img-fluid"
                                 alt="Error While converting to unicode Pleco"
                                 style="display:block;margin:auto; width: 40%;">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="alert alert-danger">
                            <strong>Error! </strong> Your File did not convert successfully due to one or more of
                            following reasons.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="alert alert-info">
                            <strong>Unsupported File Type - </strong> This converter currently support
                            <strong>Excel</strong>
                            and <strong>Docx</strong> formats only.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="alert alert-info">
                            <strong>Too Large File - </strong> Documents larger than <strong>5mb</strong> are
                            restricted.
                            Contact us if you want some larger file to be converted.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="alert alert-info">
                            <strong>False Extension - </strong> You have changed the extension of the document.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="alert alert-info">
                            <strong>Internet Connectivity Issue - </strong> Please check if you have a stable internet
                            connection.
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-outline-danger waves-effect" onclick="goBack()"
                                        style="font-size:large"><i class="fas fa-arrow-circle-left fa-1x"
                                                                   style="color: red"></i>Go Back
                                </button>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-12 middleContainerDownload" id="middleContainerDownload">
                    <!--<div class="text-center">-->
                    <div class="row justify-content-center">
                        <div class="col-md-6" align="center">
                            <span class="badge badge-success"> Your file has successfully converted to unicode</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img src="style/img/word.png" class="img-fluid" alt="Download Converted Unicode Word File"
                                 id="downloadFileImage"
                                 style="display:block;margin:auto; width: 40%">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6" align="center">
                            <span class="badge badge-info" id="filename"></span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-outline-danger waves-effect" onclick="goBack()"
                                        style="font-size:x-large; height: 10%"><i class="fas fa-arrow-circle-left fa-1x"
                                                                                  style="color: red"></i>Go Back
                                </button>
                                <button class="btn btn-outline-danger waves-effect" id="download" onclick="download()"
                                        style="font-size:x-large; font-weight: bold; height: 10%"><i
                                        class="fas fa-download fa-1x"
                                        style="color: blue"></i> &nbsp;Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="user/layout.html :: rightBar"></div>
    </div>


    <div class="row">&nbsp</div>
    <div th:replace="user/layout.html :: footer"></div>
</div>
<th:block th:replace="user/layout.html :: scripts"/>

<script type="text/javascript">
    $('#home_link').addClass("active");
</script>

<script type="text/javascript">

    $(document).ready(function () {

        var dropzone = Dropzone.instances[0];
        dropzone.on("addedfile", function () {
            console.log("File Added");
            fileUpload();
        });
    });
    $(".middleContainerProgress").hide();
    $(".middleContainerDownload").hide();
    $(".middleContainerErrorr").hide();
    if (localStorage.getItem("download") == "pending") {
        document.getElementById("filename").innerText = localStorage.getItem("filename");
        var fileType = localStorage.getItem("fileType");
        if (fileType === "DOCX") {
            $("#downloadFileImage").attr("src", 'style/img/word.png')
        }
        else if (fileType === "EXCEL") {
            $("#downloadFileImage").attr("src", 'style/img/excel.png')
        }
        $(".middleContainerDownload").show();
        $(".middleContainer").hide();

    }

    function fileUpload() {
        $(".middleContainer").hide();
        $(".middleContainerProgress").show();

        // var file = document.getElementById("fileInput").files[0];
        var file = Dropzone.instances[0].files[0];
        console.log(file);

        if (file == undefined) {
            console.log("File is undefined .. ");
            $(".middleContainerProgress").hide();
            $(".middleContainerDownload").hide();
            $(".middleContainerErrorr").show();
            $(".middleContainer").hide();
            return;
        }
        var blob = file;
        var fileReader = new FileReader();
        var inputFileType = "";
        fileReader.onloadend = function (e) {
            var arr = (new Uint8Array(e.target.result)).subarray(0, 4);
            var header = "";
            for (var i = 0; i < arr.length; i++) {
                header += arr[i].toString(16);
            }
            console.log(header);

            if (header === "504b34") {
                this.inputFileType = "officeXML";
                console.log("Uploaded File type : "+this.inputFileType);
                localStorage.setItem("inputFileType", this.inputFileType);

            }
            else if (header === "25504446") {
                this.inputFileType = "PDF";
                console.log("Uploaded File type : "+ this.inputFileType);
                localStorage.setItem("inputFileType", this. inputFileType);
            }
            else {
                console.log("Uploaded File type : Couldn't identify");

                $(".middleContainerProgress").hide();
                $(".middleContainerDownload").hide();
                $(".middleContainerErrorr").show();
                $(".middleContainer").hide();

                return;
            }

            var formData = new FormData();

            // add assoc key values, this will be posts values
            formData.append("file", file);
            console.log("inputFileType  : " +this.inputFileType);
            formData.append("inputfiletype", this.inputFileType);

            $.ajax({
                type: "POST",
                url: "/upload",
                success: function (data) {
                    // your callback here
                    console.log("Request success, status of the request" + data.status);
                    localStorage.setItem("conversionId", data.conversionId);
                    localStorage.setItem("download", "pending");
                    localStorage.setItem("filename", data.filename);
                    localStorage.setItem("fileType", data.fileType);

                    document.getElementById("filename").innerText = localStorage.getItem("filename");
                    if (data == undefined){
                        console.log("Handled-Error While Conversion - request success")
                        $(".middleContainerProgress").hide();
                        $(".middleContainerDownload").hide();
                        $(".middleContainerErrorr").show();
                        $(".middleContainer").hide();
                        localStorage.removeItem("download");
                        return;
                    }
                    if (data.status == "notLoggedIn" || data.status == "success") {
                        localStorage.setItem("status", data.status);
                        if (data.fileType === "DOCX") {
                            $("#downloadFileImage").attr("src", 'style/img/word.png')
                        }
                        else if (data.fileType === "EXCEL") {
                            $("#downloadFileImage").attr("src", 'style/img/excel.png')
                        }
                        $(".middleContainerDownload").show();
                        $(".middleContainerProgress").hide();

                    }
                    else {
                        console.log("Handled-Error While Conversion - request success")
                        $(".middleContainerProgress").hide();
                        $(".middleContainerDownload").hide();
                        $(".middleContainerErrorr").show();
                        $(".middleContainer").hide();
                        localStorage.removeItem("download");
                    }

                },
                error: function (error) {
                    console.log("Error in the request or file.");
                    // handle error
                    console.log(error);
                    $(".middleContainerProgress").hide();
                    $(".middleContainerDownload").hide();
                    $(".middleContainerErrorr").show();
                    $(".middleContainer").hide();

                },
                async: true,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                timeout: 180000
            });
        };
        fileReader.readAsArrayBuffer(blob);



    }

    function goBack() {
        Dropzone.instances[0].removeAllFiles();

        localStorage.removeItem("download");
        localStorage.removeItem("status");
        localStorage.removeItem("filename");
        localStorage.removeItem("conversionId");
        localStorage.removeItem("fileType");
        localStorage.removeItem("inputFileType");

        $(".middleContainerDownload").hide();
        $(".middleContainerErrorr").hide();
        $(".middleContainerProgress").hide();
        $(".middleContainer").show();
    }

    function download() {
        console.log("download");
        if (localStorage.getItem("status") === "notLoggedIn") {
            $("#fbSignInForm").modal('show');
            console.log("not Logged In");
        }
        else {

            console.log(localStorage.getItem("conversionId"));

            var req = new XMLHttpRequest();
            var urlToSend = "/download?conversionId=" + localStorage.getItem("conversionId");
            req.open("GET", urlToSend, true);
            req.responseType = "blob";
            req.onload = function () {
                var blob = req.response;
                var fileName = localStorage.getItem("filename");

                if(localStorage.getItem("fileType") == "DOCX"){
                    fileName += ".docx";
                }


                if (navigator.msSaveBlob) { // IE 10+
                    console.log("Internet Explorer detected");
                    navigator.msSaveBlob(blob, fileName);
                }
                else {
                    var link = document.createElement("a");
                    if (link.download !== undefined) { // feature detection
                        // Browsers that support HTML5 download attribute
                        var url = URL.createObjectURL(blob);
                        link.setAttribute("href", url);
                        link.setAttribute("download", fileName);
                        link.style.visibility = 'hidden';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
                goBack();
            };

            req.send()
        }
    }

</script>

</body>
</html>