<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="user/layout.html :: head"></head>
<body onload="loaderFunction()">

<div th:replace="user/layout.html :: loader"></div>
<div class="animate-bottom container-fluid" id="content" style="display: none">
    <!-- chatbot -->
    <div th:replace="user/layout.html :: navbar"></div>
    <div th:replace="user/layout.html :: heading"></div>

    <div class="row">
        <div th:replace="user/layout.html :: leftBar"></div>

        <!--Content Goes Here-->

        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6 offset-3"> <p style="font-size:29px;font-weight:700;line-height:1.1; text-align:justify; margin-bottom:2px;  color:#252525;" >Report Issues/Sugession Here</p> </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4"><p style="font-size:15px;font-weight:700;line-height:1.1; margin-bottom:2px;  color:#252525;" >Select the issue type</p> </div>
                <div class="col-md-4">
                    <select id="select" onchange="changeImage()" class="browser-default custom-selecty">
                        <option selected="selected" value="1">Issue</option>
                        <option value="2">Suggession</option>
                    </select>
                </div>
                <script>
                    function changeImage(){
                        if(document.getElementById('select').value=="1"){
                            // document.getElementById('select').selected="2";
                            //    document.getElementById('select').value=="2"
                            console.log("Value is 1");
                            var elem = document.getElementById("dropImage2");
                            elem.style.display = "block";
                            elem.style="width :110px; height : 110px";
                            var s = document.getElementById('dropImage1');
                            s.src = "/style/img/word.png";
                            s.style="width :120px; height : 120px";
                            document.getElementById("dropText").innerHTML="Please add you docx/excel files here"

                        }
                        if(document.getElementById('select').value=="2"){
                            console.log("Value is 2");
                            // document.getElementById('select').selected=="1";
                            var elem = document.getElementById("dropImage2");
                            elem.style.display = "none";
                            var s = document.getElementById('dropImage1');
                            console.log(s)
                            s.src = "/style/img/font.png";
                            document.getElementById("dropText").innerHTML="Please add your font file if you have any";
                        }
                    }
                </script>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4"><p style="font-size:15px;font-weight:700;line-height:1.1; margin-bottom:2px;  color:#252525;" >Briefly Expalin The Issue/ Suggession</p> </div>
                <div class="col-md-8">  <textarea class="form-control #CC0000" style=" border: 1px solid #b71c1c;" id="exampleFormControlTextarea4" rows="3"></textarea></div>

            </div>
            <br/>
            <div class="row">
                <div class="col-md-4"><p style="font-size:15px;font-weight:700;line-height:1.1; margin-bottom:2px;  color:#252525;" >Drop the related files here.</p> </div>
                <div class="col-md-8">
                    <form action="/upload" class="dropzone needsclick dz-clickable" id="docx_upload">

                        <div class="dz-message needsclick">
                            <div id="dropText">Please add you docx/excel files here</div><br>
                            <img id="dropImage1" src="/style/img/word.png" style="width :120px; height : 120px" alt="Home">
                            <img id="dropImage2" src="/style/img/excel.png" style="width :110px; height : 110px" alt="Home">
                        </div>

                    </form>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <br/>
                            <button type="submit" id="button" class="btn">Report</button>
                        </div>
                    </div>
                    <style>
                        .btn {
                            background-color: #b71c1c;
                            width: 300px;
                            height: 100px
                            /* border-color: #000; */
                        }
                    </style>

                </div>

            </div>
        </div>

        <div th:replace="user/layout.html :: rightBar"></div>
    </div>


    <div class="row">&nbsp</div>
    <div th:replace="user/layout.html :: footer"></div>
</div>

<script type="text/javascript">
    $('#issue_link').addClass("active");
</script>>
<th:block th:replace="user/layout.html :: scripts"/>

</body>
</html>